.single-course {
    height: 450px;
    width: 312px;
    background-color: #FFF;
    border-radius: 12px;
}

.single-course img {
    margin: 16px;
    border-radius: 8px;
}

.course-name {
    margin: 0;
    font-size: 18px;
}

.course-details {
    margin-bottom: 9px;
    color: rgba(28, 27, 27, 0.60);
    font-size: 14px;
    font-weight: 400;
}

.course-name,
.course-details,
.course-price {
    margin-left: 16px;
}

.price-credit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.price-credit p {
    font-size: 16px;
    color: rgba(28, 27, 27, 0.60);
}

.select-button {
    width: 280px;
    height: 40px;
    margin-top: 10px;
    margin-left: 16px;
    background-color: #2F80ED;
    color: #FFF;
}