.courses-container {
    width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 50px 60px 0 60px;
}

.single-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}